html, body {
  height: 100%;
  width: 100%;
}
.bulbcontainer{
    margin-top: 20px;
  height: 100px;
  width: 100px;
    border-radius: 50%;
  background: red;
}
.bulb{ 
  background: yellow;
    height: 100px;
  width: 100px;
  border-radius: 50%;
}
#sale{
  font-family: Arial, sans-serif;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
}